@charset "utf-8";

/*样式重置*/
body,h1,h2,h3,h4,h5,dl,dd,ul,ol,form,input,textarea,th,td,select{
    margin:0;
    padding:0;
}

em{
    font-style: normal;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border:none;
    vertical-align: top;
}
table{
    border-collapse:collapse;
}
input,textarea{
    outline:none;
}
textarea{
    resize: none;
    overflow: auto;
}
body{
    font-size: 12px;
    font-family: Arial, fantasy;
}
/*样式重置结束*/

.clear{
    zoom:1;
}
.clear:after{
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height:0;
}
.fl{
    float: left;
}
.fr{
    float:right;
}

/*渐变*/
.gradient{
    background:-webkit-linear-gradient(top,#ffffff,#f8f8f8);
    background:-moz-linear-gradient(top,#ffffff,#f8f8f8);
    background:-ms-linear-gradient(top,#ffffff,#f8f8f8);
    background:linear-gradient(top,#ffffff,#f8f8f8);
    background:linear-gradient(top,#ffffff,#f8f8f8);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(enabled=bEnabled,startColorStr=#ffffff,endColorStr=#f8f8f8) ";
    +background:#f9f9f9;

}

/*layout*/
#header, #nav{
    width:960px;
    margin:0 auto;

}
#search, .section, .side_section, .ad_border, #footer{
    border:1px solid #dbdbdb;
    border-radius: 6px;
}
 .main_ad, .side_ad, .ad_border, .side_section, #search{
    margin-bottom:10px;
}
body {
    margin-bottom: 30px;
}
#header {
    height:30px;
    border-radius:0 0 6px 6px;
    background-color: gray;

}
#nav {

    height:100px;
    position: relative;

}

#search {
    width:958px;
    height:114px;
    margin:0 auto;
    position: relative;

}
.content {
    width:960px;
    margin:0 auto;

}

.main {
    width:710px;
}

/*在外包层解决下边距10px*/
.main_warp{
    padding-bottom: 10px;
}
.section {

    width:318px;
    padding: 0 15px;
    height:200px;/*233333*/

}
.options {
    width:350px;
    height:200px;


}
.main_ad {

    border-radius: 6px;
    overflow: hidden;
    height:50px;

}

.side {
    width:240px;
    border-radius: 6px;

}
.side_section {

    height:60px;
    padding:0 12px;

}
.side_ad {
    border-radius: 6px;
    overflow: hidden;

}
#footer {
    width:958px;/*有边框*/
    height:78px;
    margin:0px auto;
    background-color: chartreuse;

}
/*广告边框*/
.ad_border {
    width:238px;
    overflow: hidden;

}

.options .nav{
    height:34px;

}
.options .nav li{
    width:172px;
    height:33px;
    border:1px solid #dbdbdb;
    border-bottom: none;
    border-radius: 6px 6px 0 0 ;
}
.options .nav .active{
    width:172px;
    height:34px;
    background-color: #ffffff;
}
.options .con{
    width:348px;
    height:80px;
    border:1px solid #dbdbdb;
    border-radius: 0 0 6px 6px;
}

#header .city {
    float: left;
    padding:5px  20px;
}


#header .city a{

    border-radius: 3px;
    border:1px solid #e5e5e5;
    box-shadow: 1px 1px 0 #e5e5e5;
    height:18px;
    display: inline-block;
    line-height: 18px;
    background-color: #ffffff;
    color: #999;
}
#header .city .active{
    color: #d60d03;
}

#header .city a:hover{
    background-color: #f1f1f1;
}
#header .link{
    float: right;
    line-height: 30px;
    padding-right: 20px;
    color: #d5d5d5;
    word-spacing:4px;

}

#header .link a{
    color: #666;
}
#header .link a:hover{
    color: #c40000;
}

.header_logo{
    vertical-align: middle;
}

#nav ul{
    position: absolute;
    top:20px;
}
#nav li{
    float: left;

}
#nav li a{
    display: block;
    width:66px;
    text-align: center;
    color: #333;


}

#nav li a:hover{
    color: #c40000;
    font-size: 13px;
}
#nav .nav_1{
    left:11px;
}
#nav .nav_2{
    right:11px;
}

#nav h1{
    width:204px;
    height:70px;
    margin:0 auto;
    position: relative;
    top:15px;

}

#nav ul img{
    width:40px;
    height:40px;
    margin:auto 13px;
}

#search .bar{
    width:958px;/*父高度*/
    height:64px;
    border:1px solid #c40d0e;
    position: absolute;
    top:16px;
    left:-1px;
    border-radius: 5px;
    background-color: #e21c01;
    box-shadow: 2px 3px 2px #e3e3e3;
}

#search .menu{

}
#search .menu li{
    float: left;
    width:78px;
    height: 25px;
    margin-right: 1px;
    display: inline-block;
    border:1px solid #f8d0bf;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    border-radius: 5px 5px 0 0 ;
    border-bottom: none;
    box-shadow: 1px 0 2px rgba(176,176,176,0.3);
}

#search .menu{
    position: absolute;
    left:226px;
    top: -27px;
}
#search .menu .active{
    height:27px;
    background-color: #e21c01;
    color: #fff;
    font-weight: bold;
    position: relative;
    top:-1px;
    border:1px solid #e21c01;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

#search .img{
    position: absolute;
    left:32px;
    top:-2px;
    z-index: 2;
}

#search .form{
    left:226px;
    top:36px;
    position: absolute;
    z-index:3;

}
#search .form .text{
    width:380px;
    height:22px;
    padding:0 12px;
    border:none;
    background-color: #fff1ef;
    border-radius: 3px;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
    color: #ea7a7a;
    font-size: 13px;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.25);
}
#search .form .btn{
    width:63px;
    height:30px;
    float: left;
    border:none;
    background-color: #ffffff;
    border: 1px solid #c40000;
    border-radius:3px;
    font-weight: bold;
    font-size: 14px;
    color: #ea7a7a;

}
#search .form .btn .img{
    width:30px;
    height:30px;

}
#search .key_text{
    width:206px;
    color: #ffffff;
    line-height: 18px;
    position: absolute;
    top: 30px;
    right:36px;

}
#search .key_text a{
    color: #ffffff;
}
#search .key_text a:hover{
    text-decoration: underline;
}

.triangle_up,.triangle_down_red,.triangle_down_gray{
    position: absolute;
    width:0px;
    height:0px;
    overflow: hidden;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

}
.triangle_up{

    border-bottom: 4px solid #ca0309;
}
.triangle_down_red{

    border-top: 4px solid #ca0309;

}
.triangle_down_gray{

    border-top: 4px solid #c4bdbd;
}